      .buttoni {
        display: inline-block;
        border-radius: 4px;
        background-color: #252525;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .buttoni span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .buttoni span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      .buttoni:hover span {
        padding-right: 25px;
      }

      .buttoni:hover span:after {
        opacity: 1;
        right: 0;
      }

      .buttoni {
        display: inline-block;
        border-radius: 4px;
        background-color: #242424;
        border: none;
        color: #FFFFFF;
        text-align: center;
        font-size: 28px;
        padding: 20px;
        width: 200px;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
      }

      .buttoni span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
      }

      .buttoni span:after {
        content: '\00bb';
        position: absolute;
        opacity: 0;
        top: 0;
        right: -20px;
        transition: 0.5s;
      }

      .buttoni:hover span {
        padding-right: 25px;
      }

      .buttoni:hover span:after {
        opacity: 1;
        right: 0;
      }