// Variables - Colors

$white: #fff !default;
$gray-100: #f8f9fa !default;
$gray-200: #e9ecef !default;
$gray-300: #dee2e6 !default;
$gray-400: #ced4da !default;
$gray-500: #adb5bd !default;
$gray-600: #868e96 !default;
$gray-700: #495057 !default;
$gray-800: #343a40 !default;
$gray-900: #212529 !default;

$black: #000 !default;
$black-s: rgb(19, 19, 19) !default;
$black-m: #343a40 !default;
$black-b: rgb(53, 53, 53) !default;

$pink-1: #D9779A !default;
$purple-1: #5E1742 !default;

$secondary: #ecb807 !default;


